<h2>Últimos idiotas</h2>

<div class="idiot">
  <p class="img"><%= image_tag "estaciono-idiota.jpg" %></p>
  <p class="user"><span>Enviado por:</span> @alissonsales em 10/10/2011 às 12:30</p>
  <p class="location"><span>Localização</span> Av. Bezerra de Menezes, 100</p>
  <p class="description">Mais um que tirou a carteira via correspondência</p>
</div>

