#login_button { margin-top: 10px; }
#header h1 { font-family: "ChunkFive", Rockwell, serif; font-size: 36px; }
#content h2 { font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; font-size: 24px;}
div.idiot {
  display: inline-block;
  background: #eee;
  border-radius: 10px;
  padding: 20px;
  font-family: "Fontin Sans", "Lucida Grande", "Arial", "Helvetica", "Verdana", "Gill Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
div.idiot p { margin: 2px 0; }
div.idiot p.img { margin-bottom: 15px; }

#footer {
  font-family: "Ubuntu", "Arial", "Helvetica", "Lucida Grande", "Verdana", "Gill Sans", sans-serif; font-size: 16px;
}
